<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="510" height="409" border="1">
  <tr>
    <td width="500"><div align="center"><a href="/addlib">Add library</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/viewlib">View library</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/viewfine">View fine</a></div></td>
  </tr>
  <tr>
    <td height="27"><div align="center"><a href="/viewstu">View registered student</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/viewpost">View post</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/approvestudent">View approved student</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/viewfeed">View feedback</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="/changepassword">Change password</a></div></td>
  </tr>
  <tr>
    <td height="46"><div align="center"><a href="/">Logout</a></div></td>
  </tr>
</table>
</body>
</html>
