{% extends 'admin/new_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
    <style>
        .table-hover th{
            background-color: #415a77;
            color: white;
        }
    </style>
</head>

<body>
<table width="386" border="1" class="table table-hover">
  <tr>
    <th width="33" scope="col">Sno</th>
      <th width="33" scope="col">STUDENT INFO</th>
    <th width="71" scope="col">FEEDBACK</th>
    <th width="182" scope="col">DATE</th>
  </tr>
    {% for i in view %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.STUDENT.name }}<br>{{ i.STUDENT.registerno }}<br>
        {{ i.STUDENT.department }}&nbsp;</td>
    <td>{{ i.feedback }}&nbsp;</td>
    <td>{{ i.date }}&nbsp;</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}